:root {
    // FONT-STYLES //
    --root-font: 'Nunito';
    --font-size-s:12px;
    --font-size-p: 16px;
    --font-size-h: 40px; 
    --root-weight: 400;
    --line-s:14px;
    --line-p: 26px;
    --line-h: 40px;

    // COLORS // 
    --root-color:#F8F8F8;
    --primary: #f4e041;
    --secondary: #00bdd3;
    --ligth-gray: #f8f8f8;
    --disbled: #B4B4B4;
    --error:#CB3D40;
    --borders:#D0CFCF;
    --shine-y: #FFE302;
    --white: #fff;
    --label-color:#7E7E7E;

   /// Scrin Sizes
   
   --screen-max: 1170px;
}    

