@mixin root-text {
    font: {
        size: var(--font-size-p);
        weight: var(--root-weight) 
    };
    line-height: var(--line-p);
}

@mixin button-style {
    @include root-text;
width:100px;
padding: 4px 0;
background: var(--primary);
border: none;
border-radius: 80px;
transition: background .3s ease-in;
}

@mixin before-spiner {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background:var(--secondary);
    top: 2px;
}

@mixin margin-bottom {
    margin-bottom: 140px;
}